<div class="mat-h1">Privacy Policy</div>
<p>Christos Malliaridis (me) built the Calendar Importer as a Free web service. This SERVICE is provided by Christos
  Malliaridis at no cost and is intended for use as is.</p>

<p>This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal
  Information if anyone decided to use my Service.</p>

<p>If you choose to use my Service, then you agree to the collection and use of information in relation to this
  policy. I will not use or share your provided information with anyone except as described in this Privacy Policy
</p>

<p>This website's source code is publicly accessible and users are able to review and contribute to this project.</p>

<h2 class="mat-h2">Information Collection and Use</h2>
<p>For a full experience, while using my website, I may require you to provide me with certain personally identifiable
  information. The information that I request will be retained on your device and is not collected by me in any
  way.</p>
<p>
  The website does use third party services that may collect information used to identify you. These services are:
</p>

<ul>
  <li>Google Authentication services</li>
  <li>Firebase Hosting</li>
</ul>

<p>These services are mandatory for the main purpose of this website. You are free not to use the authentication
  services, but you will not be able to fully use the service provided. The hosting service of Firebase does collect
  your IP address, and that is required for hosting any website on the internet.</p>

<p>The website itself and I are <b>not</b> collecting any personal information. By granting access to your calendars
  the website simply fetches a list of all your calendars and their IDs so a custom link can be generated for you and
  shared to other users. The website itself does not store or share those IDs or links to other users and is provided
  to you for sharing. By using the website to import a calendar from someone else, the website needs write access to
  your calendars list so it can subscribe for you to the calendar. You are asked for your consent while accessing your
  calendars for listing and for importing.</p>

<h2>Cookies</h2>
<p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are
  sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>

<p>This website does not use these “cookies” explicitly. However, the website may use third party code and libraries
  that use “cookies” to collect information and improve their services.</p>

<h2>Security</h2>

<p>I value your trust in providing me your Personal Information, thus I am striving to use commercially acceptable
  means of protecting it. But remember that no method of transmission over the internet, or method of electronic
  storage is 100% secure and reliable, and I cannot guarantee its absolute security.</p>

<h2>Links to Other Sites</h2>

<p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that
  site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy
  Policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or
  practices of any third-party sites or services.</p>

<p>Children’s Privacy</p>

<p>These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable
  information from children under 13. In the case I discover that a child under 13 has provided me with personal
  information, I immediately delete this from the servers. If you are a parent or guardian and you are aware that your
  child has provided me with personal information, please contact me so that I will be able to do necessary
  actions.</p>

<p>Changes to This Privacy Policy</p>

<p>I may update this Privacy Policy from time to time. Thus, you are advised to review this page periodically for any
  changes. I will notify you of any changes by posting the new Privacy Policy on this page.</p>

<p>This policy is effective as of 2022-04-21</p>

<p>Contact Me</p>

<p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at
  contact@malliaridis.com.</p>

<p>This privacy policy page was created at privacypolicytemplate.net and modified/generated by App Privacy Policy
  Generator and me.</p>
