<div class="mat-h1">Share your Google Calendar with friends!</div>
<ng-container *ngIf="isAuthenticated">
  <div class="mat-body-1" style="margin-bottom: 16px;">Simply click on the calendar you want to share
    and send the link to friends.
  </div>
  <ng-container *ngFor="let calendar of calendars">
    <div class="calendar-entry">
      <button class="calendar-button" mat-button (click)="copyShareableLink(calendar)">
        <mat-icon aria-hidden="false" aria-label="copy icon">content_copy</mat-icon>
        {{calendar.summary}}
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!isAuthenticated">
  <div class="mat-body-1">Grant calendar access rights so the website can list your calendars and provide
    shareable links.
  </div>
  <button mat-flat-button color="primary" (click)="onGrantAccess()" style="margin-top:16px;">Grant access rights
  </button>
</ng-container>
<ng-container *ngIf="isAuthenticated">
  <button mat-flat-button color="accent" (click)="onLogout()">Logout</button>
</ng-container>
<div class="mat-caption" style="margin-top: 16px;">
  Note: Make sure to make the calendar publicly available before sharing it with others.
</div>
